## Show camera feed
visualize	= 1

## Camera paramaters 
# Logitech C920
cameraID	= 1
res_x		= 1920
res_y		= 1080
fx			= 1419.9787511737059
fy			= 1419.9787511737059
cx			= 960
cy			= 540

## Apriltag size
tagsize		= 48

## Robots
Robot 		= 1 , one
Robot 		= 2 , two
Robot		= 6 , six
Robot		= 10, ten

## Pucks
